@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Quicksand:wght@300..700&family=Rowdies:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Quicksand', sans-serif;
    text-align: justify;
}

#video-container {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.background-video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.content {
    position: absolute;
    bottom: 60px;
    left: 50%;
    transform: translate(-50%);
    color: white;
    font-family: 'Rowdies', sans-serif;
    text-align: center;
}

.content h1 {
    font-size: 3.75rem;
    margin-bottom: 10px;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
}

.content p {
    font-size: 1.75rem;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
    font-family: 'Quicksand', sans-serif
}

main {
    padding: 3.5em 0;
}

h2 {
    font-size: 1.75em;
    font-family: 'Josefin Sans', sans-serif;
    margin: 0.5em 0;
}

.secao {
    margin: 2em 16em;
    font-size: 1.25em;
}

.secao p {
    text-indent: 2em;
}

#cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5em;
    align-content: flex-start;
}

.card {
    background-color: rgb(56, 63, 105);
    color: white;
    padding: 1em;
    border-radius: 20px;
    display: inline-block;
    transition: .3s;
    position: relative;
    transform-origin: center center;
    aspect-ratio: 1/1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
}

.card:hover {
    transform: scale(1.2);
    z-index: 1001;
    position: relative;
}

.card span {
    font-size: 5em;
    display: block;
    text-align: center;
}

.card .esconder {
    font-size: 0.75em;
    font-weight: normal;
    max-height: 0;
    overflow: hidden;
    transition: .3s;
}

.card:hover .esconder {
    max-height: 2.5em;
}

#escurecer {
    background-color: rgba(0, 0, 0, 0.0);
    inset: 0;
    z-index: 1000;
    position: fixed;
    transition: .3s;
    pointer-events: none;
}

body:has(.card:hover) #escurecer {
    visibility: visible;
    background-color: rgba(0, 0, 0, 0.6);
}

.ref {
    color: black;
    text-decoration: none;
    font-weight: bold;
    transition: .3s;
}

.ref:hover {
    background-color: black;
    color: white;
}

.referencias {
    text-align: left;
}

.referencias span {
    display: block;
    margin-block: 1em;
    overflow-wrap: break-word;
}

.header-return span {
    font-size: 3em;
    font-weight: bold;
    cursor: pointer;
}

.header-content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Rowdies', sans-serif;
    background-color: rgb(195, 195, 195);
    padding: 2em 1em;
    border-radius: 20px;
    gap: 20px;
}

.header-content span {
    background-color: rgb(56, 63, 105);
    color: white;
    padding: 0.2em;
    font-size: 3em;
    border-radius: 50%;
    cursor: pointer;
}

.conceito > * {
    margin: 1em 0;
}

.definicao {
    padding: 1em;
    border-left: solid #695D37 2px;
    background-color: rgba(211, 202, 171, 0.75);
}

.matematica {
    padding: 1em;
    border-right: solid #383f69 2px;
    background-color: rgba(139, 147, 193, 0.75);
    text-align: right;
}

.dado-sc section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3em;
}

.dado-sc section img {
    width: 30%;
    filter: brightness(0);
}

.dado-sc section p {
    font-size: 1.5em;
    text-align: center;
    text-indent: 0;
    border: 2px black solid;
    padding: 1em;
}

nav {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 5000;
    transition: .5s;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    padding: 1em;
}

nav ul li {
    font-size: 1.25em;
    font-weight: bold;
    position: relative;
    overflow: hidden;
}

nav ul a {
    transition: .3s;
    color: black;
    text-decoration: none;
    padding: 0.6em;
}

nav ul li a::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%; 
    width: 100%;
    height: 100%;
    transition: left 0.3s;
    z-index: -1;
}

nav ul li:nth-child(even) a::before {
    background-color: #93bc8f; 
}

nav ul li:nth-child(odd) a::before {
    background-color: #b77c7c; 
}

nav ul li:hover a::before {
    left: 0; 
}

@media (max-width: 1400px) {
    #cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 1160px) {
    .secao {
        margin: 2em 8em;
    }
    #cards {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 740px) {
    .secao {
        margin: 2em 4em;
    }

    .dado-sc section p {
        font-size: 1em;
    }
}

@media (max-width: 680px) {
    .header-content {
        flex-direction: column;
        text-align: center;
        margin: 2em;
    }

    .header-content h1 {
        font-size: 2em;
    }

    .header-return {
        margin: 2em;
    }

    .header-content h1 {
        word-break: break-all;
    }

    .dado-sc section p {
        font-size: 0.6  em;
    }
}